.elements {
    display: flex;
    flex-direction: column;

    .element {
        display: flex;
        align-items: center;
        padding: 10px;
        border: 1px solid lightskyblue;
        cursor: pointer;
    }
}