<form *ngFor="let element of elements" class="dropped-elements">
    <div class=" dragable" *ngIf="element.element === 'Input'" cdkDrag (click)="onClick($event.target)"
        id="{{element.id}}">
        <input type="text" name="input" id="{{element.id}}" placeholder="" [style.color]="fieldStyles.color">
    </div>
    <div class="dragable" *ngIf="element.element === 'Textarea'" cdkDrag (click)="onClick($event.target)"
        id="{{element.id}}">
        <textarea type="text" name="textarea" id="{{element.id}}" placeholder="{{element.id}}"></textarea>
    </div>
    <div class="dragable" *ngIf="element.element === 'Button'" cdkDrag (click)="onClick($event.target)">
        <button id="{{element.id}}" name="button" [style.color]="fieldStyles.color">{{element.element}}</button>
    </div>
    <div class="dragable" *ngIf="element.element === 'Select'" cdkDrag (click)="onClick($event.target)"
        id="{{element.id}}">
        <select id="{{element.id}}" name="select">
            <option value="">{{element.element}}</option>
        </select>
    </div>
    <div class="dragable" *ngIf="element.element === 'Checkbox'" cdkDrag (click)="onClick($event.target)"
        id="{{element.id}}">
        <label for="{{element.id}}">Checkbox</label>
        <input type="checkbox" name="checkbox" id="{{element.id}}">
    </div>
</form>