<div class="main-form" [style.border-color]="formGeneralStyles.borderColor"
    [style.background-color]="formGeneralStyles.bgColor" [style.border-style]="formGeneralStyles.borderType">
    <div class="main-form__label">
        <h3 [style.color]="formGeneralStyles.textColor" *ngIf="formGeneralStyles.formLabel; else formLabel">
            {{formGeneralStyles.formLabel}}
        </h3>
        <ng-template #formLabel>
            <h3>Form Label</h3>
        </ng-template>
    </div>
    <div class="main-form__elements">
    </div>
</div>